In [28]:
import pandas as pd

In [29]:
df=pd.read_csv('Online Retail.csv', sep = ',',encoding = "ISO-8859-1", header= 0)
df1=pd.read_csv('books1.csv')
df2=pd.read_csv('computers1.csv')
df3=pd.read_csv('electronics1.csv')
df4=pd.read_csv('food1.csv')
df5=pd.read_csv('luggage1.csv')
df6=pd.read_csv('menfashion1.csv')
df7=pd.read_csv('phones1.csv')
df8=pd.read_csv('scrapy1.csv')
df9=pd.read_csv('watches1.csv')
df10=pd.read_csv('womenfashion1.csv')
df11=pd.read_csv('flip1.csv')

In [30]:
df_new=pd.concat([df,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11], ignore_index=True)

In [32]:
df_new.to_csv(r'data.csv',index = None, header=True) #saving as .csv file

In [37]:
df_=pd.read_csv('data.csv',low_memory=False)
df_.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,01-12-2010 08:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,01-12-2010 08:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,01-12-2010 08:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,01-12-2010 08:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,01-12-2010 08:34,1.69,13047.0,United Kingdom

In [39]:
df_.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [40]:
df.shape

(541909, 8)